* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
  font-family: sans-serif;
}

.Skull1 {
  width: 5vw;
  height: 7vh;
}

.burger {
  border-color: chartreuse;
}

.App,
.App1 {
  background-image: url(./assets/wp3308364-hd-space-wallpaper.jpg);
  background-position: bottom;
  background-size: cover;
  min-height: 250vh;
  min-width: 100vw;
  overflow: hidden;
}

.totalBar,
.nav-link {
  color: chartreuse !important;
  font-size: 25px !important;
  text-decoration: none !important;
  display: block !important;
  opacity: 7;
}

.Intro {
  position: relative;
  justify-content: center;
  right: -10vh;
  top: 40vh;
  padding: top 10vh;
}
.Intro_h1 {
  font-size: 8vh;
}
.Hi {
  font-size: 5vh;
}
.Name {
  color: chartreuse;
}
.Skull-fluid {
  position: relative;
  top: -15vh;
  left: -10vh;
  justify-content: center;
  max-height: 60vh;
  max-width: 60vh;
}

.home-description {
  position: relative;
  left: -6vh;
}

.Typewriter__wrapper {
  font-size: 2.2em !important;
  color: chartreuse !important;
  font-weight: 600 !important;
}

.typewriter {
  padding-top: 3vh;
}

/* HOME about me section*/
.about-section {
  position: relative;
  justify-content: center;
  top: 70vh;
  left: 2vh;
}
.green-text {
  color: chartreuse;
}
.linkedin {
  height: 12vh;
  width: 12vh;
}

/* About.js ---------------------------     */

/* Description.js*/
.description {
  position: relative;
  top: 30vh !important;
  background-color: transparent !important;
}
.body {
  font-size: 2.8vh !important;
}

.Des {
  position: relative;
  top: 15vh;
}

@media (max-width: 767px) {
  .Nav {
    position: relative;
    width: 10%;
  }

  .App {
    background-image: url(./assets/wp3308364-hd-space-wallpaper.jpg);
    background-position: bottom !;
    background-size: cover !important;
    max-height: 100%;
    min-height: auto;
  }
  .Intro {
    position: relative;
    justify-content: center;

    left: 1vh;
    top: 12vh;
  }
  .home-description {
    position: relative;
    left: 0.5vh;
    justify-content: center;
    font-size: 1.3vh;
    white-space: nowrap;
  }
  .Skull-fluid {
    position: relative;
    width: 40vh;
    left: 2vh !important;
    top: 8vh;
    padding-bottom: 10vh;
  }
  .Hi {
    position: relative;
    justify-content: center;
    right: -8vh;
  }
  .Typewriter__wrapper {
    font-size: 1.4em !important;
    font-weight: 500 !important;
    position: absolute !important;
  }
  .Typewriter__cursor {
    display: none !important;
  }
  .Typewriter {
    position: relative;
    right: -3vh;
    padding-top: 3vh;
    font-size: 3vh;
  }
  /* about me section*/
  .about-section {
    position: relative;
    justify-content: center;
    top: 15vh !important;
  }

  .Me {
    position: relative;
    left: -11vh !important;
  }

  .Skull {
    justify-content: center !important;
    padding-top: 9em !important;
    left: -6vh !important;
  }
}

.tech-icons {
  font-size: 4.5em !important;
  margin: 15px !important;
  padding: 10px !important;
  opacity: 0.93 !important;
  border: 1.7px solid rgba(200, 137, 230, 0.637) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}
.ITSkills {
  position: relative;
  left: 74vh !important;
}

.TechStack {
  position: relative;
  left: 80vh;
}

.tech-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid rgba(197, 115, 230, 0.883) !important;
}
.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}

.quote-card-view {
  border: none !important;
  color: white !important;
  background-color: transparent !important;
}

.about-activity {
  list-style: none !important;
  text-align: left !important;
  padding-left: 1px !important;
}

@media (max-width: 767px) {
  .about-img {
    padding-top: 0 !important;
  }
  .Skull1 {
    width: 12vw !important;
    height: 6vh !important;
  }
  .ITSkills {
    position: relative;
    left: 10.5vh !important;
    justify-content: center;
  }
  .tech-icons {
    margin: 10px !important;
    padding: 10vh;
  }
  .TechStack {
    position: relative;
    left: 14vh;
    justify-content: center;
  }
}

/* Project Page*/
.project-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

.project-card-view {
  box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) !important;
  color: white !important;
  background-color: transparent !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}
.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561) !important;
}

.blog-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

.blog-card-view {
  background-color: transparent !important;
  box-shadow: 0 3px 3px 2px rgba(145, 77, 161, 0.459) !important;
  color: white !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}

.blog-link {
  color: white !important;
  text-decoration: none !important;
}

.blog-link:hover {
  cursor: pointer !important;
}

.blog-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 3px 3px 5px rgba(155, 88, 173, 0.65) !important;
}

.card-img-top {
  padding: 20px !important;
  opacity: 0.8 !important;
  border-radius: 10px !important;
}

.blog-img {
  padding: 0px !important;
  opacity: 0.8 !important;
  border-radius: 0px !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #623686 !important;
  border-color: #623686 !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #6d20c5d7 !important;
  border-color: #6d20c5d7 !important;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.project-heading {
  color: white !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
}

.pro-des {
  position: relative;
  bottom: -5vh;
}
